@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
  }

  html.light {
    color-scheme: light;
  }

  html.dark {
    color-scheme: dark;
  }
}
